@media only screen and (min-width: 1024px) {
  .profile {
    height: 100vh;
  }

  .search-container {
    .search-button {
      left: 79em;
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    width: 100%;
    padding: 5em 5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .main-header {
    .title {
      font-size: 1em;
    }
    .right-side {
      padding-left: 70em;
    }
  }

  .profile {
    height: 90vh;
    width: 75%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .profile-header {
      display: flex;
      align-self: flex-start;
      padding-left: 3.75em;
      figure {
        img {
          height: 10em;
          width: 10em;
        }
      }

      .profile-header-text {
        .profile-name {
          font-size: 2em;
        }
      }
    }
  }

  .search-container {
    width: 75%;

    .search-bar {
      padding: 1em 1em;
      font-size: 1.5em;
    }

    .search-button {
      padding: 0 2em;
      height: 5.5em;
      bottom: 5.55em;
      left: 91em;
      width: 8em;
    }
  }

  .profile {
    .bio {
      width: 60%;
    }

    .numbers-card {
      padding: 5em 0;
      width: 60%;
    }
  }

  footer {
    padding-bottom: 2em;
    .footer-item {
      padding: 1em 2em;

      .footer-text {
        padding-left: 1em;
      }
    }
  }
}
