.light {
  background-color: white;
  color: black;
}

.search-container {
  .search-bar-light {
    background-color: hsl(31, 100%, 90%);
    color: black;
  }
}

.card-light {
  background-color: hsl(31, 100%, 90%);
}

.numbers-card-light {
  background-color: white;
}
