@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141c2f;
  color: white;
  font-family: "Roboto Mono", monospace;
  padding: 1em;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 1em;

  .right-side {
    display: flex;
    align-items: center;

    .light-mode:hover {
      cursor: pointer;
    }
  }
}

.search-container {
  display: inline-block;
  width: 100%;
  position: relative;

  .search-bar {
    width: 100%;
    border-radius: 5%;
    background-color: #1f2a48;
    color: white;
    padding: 1em 2em;
    border: none;
  }

  .search-button {
    border-radius: 15%;
    background-color: #0079fe;
    color: white;
    position: relative;
    bottom: 3.15em;
    left: 21em;
    padding: 0 0.5em;
    height: 3em;
    border: none;
  }

  .search-button:hover {
    cursor: pointer;
  }
}

.card {
  background-color: #1f2a48;
  border-radius: 5%;
  padding: 1em 2em;
}

.profile-header {
  display: flex;

  figure {
    img {
      width: 4.5em;
      height: 4.5em;
      border-radius: 50%;
    }
  }

  .profile-header-text {
    padding-left: 1em;
    line-height: 1.5em;

    .profile-name {
      font-size: 1em;
    }

    .link {
      display: block;
    }
  }
}

.bio {
  padding: 0.5em 0;
  line-height: 1.75em;
}

.numbers-card {
  background-color: #141c2f;
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  padding: 1em 2em;
  margin: 1em 0;

  .numbers {
    padding: 0 1em;
    text-align: center;
    font-size: 0.85em;

    .numbers-number {
      font-weight: bold;
      padding: 0.5em 0;
    }
  }
}

footer {
  .footer-item {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-around;

    #blog {
      color: white;
    }
  }
}

@import "tablet";
@import "desktop";
@import "lightmode";
